
<% if (typeof errors !=='undefined') {%>
<ul>
  <% for (key in errors)  {%>
  <li><%= errors[key].message %></li>
  <% } %>
</ul>
<% } %>

<div class="container">
<h2>Adding New Photo</h2>
  <div class="row">
            <div class="col-md-8">
               
                <form method="post" action="/photo" enctype="multipart/form-data">

                    <div class="control-group form-group">
                        <div class="controls">
                            <label for="photoTitle">Title</label>
                            <input type="text" class="form-control" id="photoTitle" type="text" name="photoTitle">
                            <p class="help-block"></p>
                        </div>
                    </div>


                    <div class="control-group form-group">
                        <div class="controls">
                            <label for="yearTaken"> Year: </label>
                            <input class="form-control" type="number" name="yearTaken" id="yearTaken">
                        </div>
                    </div>
                    
                    <div class="control-group form-group">
                        <div class="controls">
                            <label for="description"> Description </label>
                            <textarea rows="10" cols="100" class="form-control" id="description" name="description" ></textarea>
                        </div>
                    </div>
                    <div class="control-group form-group">
                        <label for="photo-input"> Upload Photo </label>
                        <input  id="photo-input" type="file" name="photo">
                    </div>

                    <div id="success"></div>
                    <!-- For success/fail messages -->
                    <button type="submit" class="btn btn-primary">Upload your new photo</button>
                </form>
            </div>
            <br>
            

        </div>
            
</div>

