<h2>Adding New Photo</h2>

<% if (typeof errors !=='undefined') {%>
<ul>
  <% for (key in errors)  {%>
  <li><%= errors[key].message %></li>
  <% } %>
</ul>
<% } %>

<form method="post" action="/photo" enctype="multipart/form-data">
  <div class="form-group">
    <label for="photoTitle"> Title: </label>
    <input type="text" name="photoTitle" id="photoTitle">
  </div>

  <div class="form-group">
    <label for="yearTaken"> Year: </label>
    <input type="number" name="yearTaken" id="yearTaken">
  </div>

  
  <div class="form-group">
    <label for="description"> Description </label>
    <input type="text" name="description" id="description">
  </div>
<div class="form-group">
  <label for="photo-input"> Upload Photo </label>
  <input  id="photo-input" type="file" name="photo">
</div>
  <button class="btn btn-primary"> Add this photo </button>
</form>

