body 

a {
  color:grey;
}
#photoedit{
  text-decoration: none;
}
.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}



.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.p-details{
  margin-bottom: 5px;
}
.h3-details{
  
    margin-top: 5px;
    margin-bottom: 20px;

}
.p-description{
  margin-bottom: 60px;
}